.detail-wrapper {
  margin: .44rem 0;

  .info-wrap {
    padding: .15rem;
    box-sizing: border-box;

    .title {
      font-size: .2rem;
      padding: .15rem 0;
    }

    .sale {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .16rem;
      margin-top: .15rem;

      .price {
        font-size: .25rem;
        color: #f40;
      }
    }

    .btn-group {
      margin-top: .05rem;
    }
  }
}